In [1]:
#Import library numpy, pandas dan scikit-learn
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
#Membaca Dataset dari File ke Pandas dataFrame
irisDataset = pd.read_csv('Dataset Iris.csv', delimiter=';', header=0)

In [3]:
irisDataset.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,7.00,3.02,4.07,1.04,Iris-versicolor
1,2,6.04,3.02,4.05,1.05,Iris-versicolor
2,3,6.09,3.01,4.09,1.05,Iris-versicolor
3,4,5.05,2.03,4.00,1.03,Iris-versicolor
4,5,6.05,2.08,4.06,1.05,Iris-versicolor

In [4]:
#Mengubah kelas (kolom "Species") dari String ke Unique-Integer
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [5]:
irisDataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1           7.00          3.02           4.07          1.04        0
1   2           6.04          3.02           4.05          1.05        0
2   3           6.09          3.01           4.09          1.05        0
3   4           5.05          2.03           4.00          1.03        0
4   5           6.05          2.08           4.06          1.05        0

In [6]:
print(irisDataset)

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0     1           7.00          3.02           4.07          1.04        0
1     2           6.04          3.02           4.05          1.05        0
2     3           6.09          3.01           4.09          1.05        0
3     4           5.05          2.03           4.00          1.03        0
4     5           6.05          2.08           4.06          1.05        0
..  ...            ...           ...            ...           ...      ...
95   96           6.07          3.00           5.02          2.03        1
96   97           6.03          2.05           5.00          1.09        1
97   98           6.05          3.00           5.02          2.00        1
98   99           6.02          3.04           5.04          2.03        1
99  100           5.09          3.00           5.01          1.08        1

[100 rows x 6 columns]

In [7]:
#Menghapus kolom "Id"
irisDataset = irisDataset.drop(labels="Id", axis=1)

In [8]:
print(irisDataset)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            7.00          3.02           4.07          1.04        0
1            6.04          3.02           4.05          1.05        0
2            6.09          3.01           4.09          1.05        0
3            5.05          2.03           4.00          1.03        0
4            6.05          2.08           4.06          1.05        0
..            ...           ...            ...           ...      ...
95           6.07          3.00           5.02          2.03        1
96           6.03          2.05           5.00          1.09        1
97           6.05          3.00           5.02          2.00        1
98           6.02          3.04           5.04          2.03        1
99           5.09          3.00           5.01          1.08        1

[100 rows x 5 columns]

In [9]:
#Mengubah dataFrame ke array Numpy
irisDataset = irisDataset.to_numpy()

In [ ]:
print(irisDataset)

In [11]:
#Membagi Dataset --> 80 barus data untuk training dan 20 baris data untuk testing
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]),
                              axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]),
                              axis=0)

In [14]:
print(dataTesting)
len(dataTesting)

[[5.05 2.06 4.04 1.02 0.  ]
 [6.01 3.   4.06 1.04 0.  ]
 [5.08 2.06 4.   1.02 0.  ]
 [5.   2.03 3.03 1.   0.  ]
 [5.06 2.07 4.02 1.03 0.  ]
 [5.07 3.   4.02 1.02 0.  ]
 [5.07 2.09 4.02 1.03 0.  ]
 [6.02 2.09 4.03 1.03 0.  ]
 [5.01 2.05 3.   1.01 0.  ]
 [5.07 2.08 4.01 1.03 0.  ]
 [6.07 3.01 5.06 2.04 1.  ]
 [6.09 3.01 5.01 2.03 1.  ]
 [5.08 2.07 5.01 1.09 1.  ]
 [6.08 3.02 5.09 2.03 1.  ]
 [6.07 3.03 5.07 2.05 1.  ]
 [6.07 3.   5.02 2.03 1.  ]
 [6.03 2.05 5.   1.09 1.  ]
 [6.05 3.   5.02 2.   1.  ]
 [6.02 3.04 5.04 2.03 1.  ]
 [5.09 3.   5.01 1.08 1.  ]]

20

In [20]:
#Memecah Dataset ke Input dan Label
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1.]

80

In [16]:
#Mendefinisikan Decision Tree Classifier
model = tree.DecisionTreeClassifier()

In [17]:
#Mentraining Model
model = model.fit(inputTraining, labelTraining)

In [21]:
#Memprediksi Input Data Testing
hasilprediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilprediksi)

Label Sebenarnya :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Hasil Prediksi :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [25]:
#Menghitung Akurasi
prediksiBenar = (hasilprediksi == labelTesting).sum()
prediksiSalah = (hasilprediksi == labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, "data")
print("Prediksi Salah : ", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100,"%")

Prediksi Benar :  20 data
Prediksi Salah :  20 data
Akurasi : 50.0 %